nav {
  display: flex;

  justify-content: center;
  background-color: #1b2430;
  height: 50px;
  /* background-color: rgb(238, 14, 126); */
  /* padding: 20px 80px; */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  position: relative;
}

.navContainer {
  width: 100%;
  /* max-width: 1024px; */
  margin: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLogo {
  color: #17cf97;
  font-size: 20px;
  cursor: pointer;
}

#navItems {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navLink {
  list-style: none;
  padding: 0 20px;
  position: relative;
  font-size: 18px;
  color: #fff;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.navLink:hover {
  color: #17cf97;
}

.navLink.active {
  color: #17cf97;
}

.navLink:hover ::after,
.navLink.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #17cf97;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
}

.icon {
  color: white;
  align-items: center;
}

.userPhoto {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profileModal {
  position: absolute;
  top: 50px;
  right: 0;
  margin-right: 10%;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.logoutButton {
  padding: 5px 5px;
  color: white;
  background-color: #17cf97;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 6px;
}

@media only screen and (max-width: 480px) {
  .navContainer {
    margin: 0 10px;
  }
  #navItems {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: #2a3239;
    top: 50px;
    right: -300px;
    width: 300px;
    height: 100vh;
    box-shadow: 0 40px 60px rgba(42, 33, 33, 0.1);
    padding: 40px 0 0 10px;
    position: absolute;
    transition: 0.5s ease-in-out;
    z-index: 999;
  }

  #navItems.active {
    right: 0;
  }
  #navItems li {
    margin-bottom: 25px;
  }
  #mobile {
    display: block;
  }

  .navIcon {
    font-size: 24px;
    cursor: pointer;
    color: white;
  }

  .profileModal {
    position: absolute;
    top: 340px;
    right: 170px;
    margin-right: 0px;
    background-color: white;
    border-radius: 5px;
    /* padding: 20px; */
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    z-index: 999;
  }

  .logoutButton {
    padding: 2px 2px;

    color: #17cf97;
    background-color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 6px;
  }

  .navLink:hover ::after,
  .navLink.active::after {
    bottom: 10px;
  }

  .userPhoto {
    margin-left: 10px;
  }
}
