.adminHome {
  display: flex;
}

.homeContainer {
  flex: 6;
}

.welcomeText {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  margin-top: 20px;
}
