.ordersContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.ordersTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.ordersTable {
  width: 100%;
  border-collapse: collapse;
}

.ordersTable th,
.ordersTable td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.ordersTable th {
  background-color: #f0f0f0;
}

.ordersTable td {
  font-size: 14px;
}

.deleteButton {
  cursor: pointer;
  color: rgba(255, 42, 0, 0.737);
}

@media screen and (max-width: 480px) {
  .ordersContainer {
    padding: 15px;
  }
  .ordersTrTitle {
    font-size: 10px;
  }
  .ordersTable td {
    font-size: 8px;
  }

  .ordersTable th,
  .ordersTable td {
    padding: 5px;
  }
}
